.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.App-rate {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-rate label {
  display: block;
  width: 100px;
  margin-bottom: 0.5em;
  text-align: left;
  white-space: nowrap;
}
