.Swaras {
  display: flex;
  justify-content: center;
  font-size: 2.15vw;
  color: hsl(0, 0%, 75%);
}

.Swaras-item {
  margin: 0.5em;
  transition: 0.1s all ease;
}

.Swaras-item.active {
  transform: translateY(-25%) scale(1.75);
  color: #D24858;
}
